body {
  background: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url(./imageNIcon/steptodown.com915463-removebg-previewNoBg.png);
  background-color: #edf9ff;
  background-position: center;
  margin: 0;
}

.header {
  background-image: linear-gradient(to right, #a6fdfcd2, #00928f, #00928f);
  width: 100%;
}

#topHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  /* Adjust height to ensure proper vertical alignment */
  position: relative;
}

#searchBar {
  position: relative;
  width: 100%;
  padding-top: 15px;
  max-width: 500px;
  /* Slightly increase the max-width for better visibility */
  margin: 0 auto;
  /* Center it horizontally */
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: 8px;
  margin-left: 5px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
}

#searchIcon {
  cursor: pointer;
}

#searchBox {
  width: 400px;
  height: 40px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  padding-left: 35px;
  border-radius: 50px;
  border-style: solid;
  border-width: thin;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

#logo {
  width: 90px;
  height: auto;
  position: absolute;
  top: 0;
  left: 10px;
}

.navbar {
  height: 58px;
  background-image: url(./imageNIcon/header-removebg-preview.png);
  background-color: #ffffff;
  background-position: center;
  margin-top: 20px;
}

.navLinkUl {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
}

.navLink {
  float: left;
  margin: 2px;
}

.navLink a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  border: 1.2px solid;
  background-color: white;
  box-shadow: 1px 1px #888888;
}

.navLink img {
  margin-left: 7px;
  height: 18px;
}

.navLink a:hover:not(.active) {
  background-color: #f6cb07d2;
}

.active {
  background-color: #4ce7e479;
}

@media (max-width: 768px) {
  #searchBar {
    width: 60%;
    transform: translateX(20px);
  }

  .navbar {
    height: auto;
  }
}